@charset "utf-8";

$spacing-unit: 30px;

$pastelColor: #ABC4FF;
$lightAccentColor: #606c88;
$darkAccentColor: #3f4c6b;

$csstyle-part-symbol: '\\/';
$csstyle-root-id: 'easycfg';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "github-light",
        "base",
        "syntax-highlighting"
;
